.new-upcoming-anime-container{
  margin-bottom: 3rem;
}

.anime-list .content {
    width: fit-content;
  }
  
  .anime-list .cta {
    cursor: pointer;
    display: flex;
    padding: 3px 8px; /* Reduced padding */
    text-decoration: none;
    font-size: 12px; /* Smaller font size */
    color: white;
    background: #6225E6;
    transition: 1s;
    box-shadow: 4px 4px 0 black; /* Reduced shadow */
    transform: skewX(-15deg);
    font-weight: bold;
  }
  
  .anime-list .cta:focus {
    outline: none;
  }
  
  .anime-list .cta:hover {
    transition: 0.5s;
    box-shadow: 6px 6px 0 #FBC638; /* Adjusted hover shadow */
    background-color: #6225E6;
    color: white;
    padding: 3px 7px 3px 5px; /* Adjusted hover padding */
  }
  
  .anime-list .cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
  }
  
  .anime-list .cta:hover span:nth-child(2) {
    transition: 0.5s;
    margin-right: 10px; /* Reduced hover margin */
  }
  
  .anime-list span {
    transform: skewX(15deg);
  }
  
  .anime-list span:nth-child(2) {
    width: 10px; /* Reduced width */
    margin-left: 20px; /* Reduced margin */
    position: relative;
    top: 10%; /* Adjusted position */
  }
  
  /**************SVG****************/
  
  .anime-list path.one {
    transition: 0.4s;
    transform: translateX(-50%); /* Adjusted transform */
  }
  
  .anime-list path.two {
    transition: 0.5s;
    transform: translateX(-25%); /* Adjusted transform */
  }
  
  .anime-list .cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
  }
  
  .anime-list .cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }
  
  .anime-list .cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }

  .watchContent{
    padding-bottom: 3rem;
    padding-top: 1.5rem;
  }
  
  /* SVG animations */
  
  @keyframes color_anim {
    0% {
      fill: white;
    }
  
    50% {
      fill: #FBC638;
    }
  
    100% {
      fill: white;
    }
  }
  

  .watch-list{
    margin: 10px;
  }