.set {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 28px;
}

.Sidebtn {
  padding: 8px 20px;
  border-radius: 20px;
  border: none;
  background: #2c145c;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
}

.Sidebtn:hover {
  padding: 8px 20px;
  border-radius: 20px;
  border: none;
  background: #230a55;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
}
